:root {
    --bg-deep-space: #050505;
    --accent-blue: #00f0ff;
    --accent-yellow: #ffb800;
    --text-main: #e0e0e0;
    --font-tech: 'JetBrains Mono', monospace;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Zorunlu: Kaymayı engeller */
    background-color: transparent;
    color: var(--text-main);
    font-family: var(--font-tech);
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    background: radial-gradient(circle at top center, #0a0a1a 0%, #030305 100%);
}

#app {
    height: 100%;
}